.bg {
    padding-top: 300px;
    padding-bottom: 100px;
    background-image: url(../../public/plane.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 300px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.bg::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}

 .page-banner-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
   flex-direction: column;
}


.allh2 {
    font-size: 45px;
    color: #fefafa;
    margin: 0 0 20px 0;
}

.allp {
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    font-weight: 600;
}

.allLink {
    color: #ffffff;
    text-decoration: none;
}

.tours-item {
    margin-bottom: 30px;
    transition: 0.6s;
    -webkit-transition: 0.5s;
}

.tours-item .tours-content {
    padding: 25px 20px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.tours-item .tours-content .tours-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
}

.tours-item .tours-content h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    transition: 0.6s;
    -webkit-transition: 0.5s;
}
.tours-item .tours-content p {
    font-size: 15px;
    margin: 0;
    line-height: 30px;
    transition: 0.6s;
    -webkit-transition: 0.5s;
}

.tours-item .tours-content .tours-review {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 0;
}

.allImage {
    max-width: 100%;
    height: auto;
}

.tours-item .tours-content .tours-review li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    transition: 0.6s;
    -webkit-transition: 0.5s;
}

.tours-item .tours-content a {
    color: #000000;
    transition: 0.6s;
    -webkit-transition: 0.5s;
    text-decoration: none;
}

.tours-sidebar {
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
    padding: 30px 25px;
}

.search2{
    font-size: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}

.searchp {
    font-size: 16px;
}

.tours-form {
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
    padding: 20px;
}

.tours-form form {
    position: relative;
}

.tours-form form .form-control {
    height: 50px;
    padding: 16px;
    font-size: 15px;
    color: #a6a6a6;
    background-color: transparent;
    border-bottom: 1px solid #b5b4b4;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tours-form form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: #f45a43;
    outline: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    width: 60px;
}

.tours-price {
    margin-top: 18px;
}

.tours-price .price-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 16px;
}

.tours-price .price-list .form-check {
    padding-left: 20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.tours-price .price-list .form-check-input {
    margin-top: 8px;
}