.feature-box {
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
  }

  .feature-img {
    position: relative;
  }
  
  .feature-img img {
    width: 100%;
  }

  .price {
    width: 75px;
    height: 75px;
    background: #EB662B;
    color: #ffffff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
  }
  .price p {
    margin-top: 10px;
  }
  
  .rating {
    padding: 3px;
    float: right;
    background: #ffffff;
    bottom: -1px;
    right: 0;
    position: absolute;
  }


  .feature-details {
    padding: 20px;
    text-align: justify;
  }
  
  .feature-details h4 {
    font-weight: 600;
    margin-top: 20px;
  }
  .feature-details .fas {
    margin-right: 5px;
  }

  .rating {
    padding: 3px;
    float: right;
    background: #ffffff;
    bottom: -1px;
    right: 0;
    position: absolute;
  }

  .slider-icons {
    display: flex;
    gap: 10px;
  }

  .slider-icons span {
    color: #EB662B;
  }